# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code, and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Deploy

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch:
    inputs:
      version_type:
        description: 'Type of version bump (major/minor/patch)'
        required: true
        default: 'patch'
      branch:
        description: 'Branch to create release from'
        required: true
        default: 'dev'

jobs:
    docker:
        runs-on: ubuntu-latest

        env:
            PROJECT_NAME: ${{ github.event.repository.name }}
            EXPOSED_PORT: 3000
        strategy:
            matrix:
                node-version: [21.x]

        steps:
            - name: Checkout code
              uses: actions/checkout@v4
              with:
                ref: ${{ github.event.client_payload.branch || github.event.inputs.branch }}
              
            - name: Get version from package.json
              id: package-version
              run: echo "VERSION=$(node -p "require('./package.json').version")" >> $GITHUB_OUTPUT

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3

            - name: Log in to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_PASSWORD }}


            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Build and push Docker image
              uses: docker/build-push-action@v6
              with:
                context: .
                push: true
                tags: |
                  gremoryyx/${{ env.PROJECT_NAME }}:latest 
                  gremoryyx/${{ env.PROJECT_NAME }}:${{ steps.package-version.outputs.VERSION }}
                build-args: |
                  NEXT_PUBLIC_API_URL=${{ secrets.API_URL }}
                  API_URL=${{ secrets.API_URL }}
                  CMS_URL=${{ secrets.CMS_URL }}
                cache-from: type=gha
                cache-to: type=gha,mode=max
    deploy:
        needs: docker
        # runs-on: [self-hosted, linux, x64]
        runs-on: ubuntu-latest

        env:
            PROJECT_NAME: ${{ github.event.repository.name }}

        steps:
            - name: Checkout code
              uses: actions/checkout@v4
              with:
                ref: ${{ github.event.client_payload.branch || github.event.inputs.branch }}

            - name: Set up SSH Key
              run: |
                  echo "${{ secrets.DEPLOY_KEY }}" > deploy_key.pem
                  chmod 600 deploy_key.pem

            - name: Upload Nginx configuration to temporary location
              run: |
                scp -o StrictHostKeyChecking=no -i deploy_key.pem -P ${{ secrets.SERVER_PORT }} ./server.nginx.conf ${{ secrets.SSH_USER }}@${{ secrets.SERVER_IP }}:/home/${{ secrets.SSH_USER }}/nginx.conf

            - name: Deploy Docker container and update Nginx
              run: |
                ssh -o StrictHostKeyChecking=no -i deploy_key.pem -p ${{ secrets.SERVER_PORT }} ${{ secrets.SSH_USER }}@${{ secrets.SERVER_IP }} << 'EOF'
                  # Check if the container exists and remove it if it does
                  if docker ps -a --format '{{.Names}}' | grep -q "^${{ env.PROJECT_NAME }}$"; then
                    echo "Container exists. Stopping and removing..."
                    docker stop ${{ env.PROJECT_NAME }}
                    docker rm ${{ env.PROJECT_NAME }}
                  else
                    echo "Container doesn't exist. Logging into Docker Hub..."
                    echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
                  fi

                  # Pull the latest image and run the container
                  echo "Pulling latest image..."
                  docker pull gremoryyx/${{ env.PROJECT_NAME }}:latest
                  echo "Running container..."
                  docker run -d --name ${{ env.PROJECT_NAME }} -p ${{ secrets.DOCKER_PORT }}:3000 gremoryyx/${{ env.PROJECT_NAME }}:latest

                  # Update Nginx configuration
                  sudo mv /home/${{ secrets.SSH_USER }}/nginx.conf /etc/nginx/sites-available/${{ env.PROJECT_NAME }}
                  sudo ln -sf /etc/nginx/sites-available/${{ env.PROJECT_NAME }} /etc/nginx/sites-enabled/${{ env.PROJECT_NAME }}
                  sudo nginx -t && sudo systemctl reload nginx
                EOF

            - name: Clean up SSH key
              run: rm -f deploy_key.pem
